.back{
	margin-top:5%;
	margin-left: 42%;
} 
.labelDiv{
	margin-top: 2%;
	margin-left: 60%;
}
.checkDiv{
	margin-top:-5%;
	margin-left: 25%;
}
.find{
	margin-top:5%;
	margin-left: 70%;
}