.Main-div-one{
	background-color: rgb(242,242,242);
}



.Main-div-two{
	height:50px;
}

.Main-div-three{
	height:20px;
	padding-top: 50px;
}

.Div-Credit-One ul li{
	margin-top: 40px;
}
