.HDiv{
    margin-left: 40%;
    margin-top: 2.5%;
}

.buttonDiv{
    margin-left: 12.5%;
    margin-top: 2%;
}
#ontime{
    margin-left: 5%;
}
#setmeal{
    margin-left: 5%;
}
.btn1Div{
    margin-top: 2%;
}
#delbtn{
    margin-left: 7%;
}
#dredgebtn{
    margin-left: 7%;
}
#updatebtn{
    margin-left: 1%;
}
#stopbtn{
    margin-top: 2%;
    margin-left: 1%;
}
.textDiv{
    margin-left: 65%;
    margin-top: -10.4%;
}
.label{
    font-size: 15px;

}
.labelDiv{
    margin-top: 3%;
}
#selectBtn{
    margin-left: 18%;
}
.windowDiv{
    margin-left: 25%;
    margin-top: 6%;
}
#cancel,#cancel1,#cancel2,#cancel3{
    margin-left: 40%;
}
.windowDiv1{
    margin-left: 25%;
    margin-top: 3%;
}
.windowDiv2{
    margin-left: 24%;
    margin-top: 2%;
}