
.total{
    margin-top: 0.8%;
}
.typeface{
    font-size: 15px;
}
.hyperlinkDiv{
    text-decoration: none;
    margin-left: 77.5%;
    margin-top: 1.8%;
}
.welcome{
    margin-left: 85%;
    margin-top: -5%;
}
.MenuHyperLink{
    text-decoration: none;
}