<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovo.mapper.UserMapper">

   <resultMap type="UserBean" id="user">
		<id property="id" column="id" />
		<result property="name" column="u_name" javaType="String"/>
		<result property="sex" column="u_sex" javaType="String"/>
		<result property="age" column="u_age" javaType="java.lang.Long"/>
	</resultMap>

	<insert id="batchAddUser" parameterType="java.util.List">
		insert into t_user (u_id, u_name,u_sex,u_age)
		(select
		seq_t_user.nextval,temp.* from (
		<foreach collection="list" item="user" separator="union all">
			select
			#{user.name,jdbcType = VARCHAR} u_name,
			#{user.sex ,jdbcType = VARCHAR} u_sex,
			#{user.age,jdbcType = NUMERIC} u_age
			from dual
		</foreach>
		) temp
		)

	</insert>
	
	<select id ="selectUserByName" resultMap="user"  parameterType="UserBean">
		select t.u_id,t.u_name,t.u_sex,t.u_age from t_user t where t.u_name = #{name} for update
		
	</select>
	
	<update id="updateUserByName"  parameterType="java.util.Map">
 		update t_user t set t.u_age = #{age} where t.u_name =#{name}
    </update>

</mapper>
